@charset "UTF-8";

table{
    width: 600px;
    border-collapse: collapse;
    text-align: center;
}

caption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid black;
    border-bottom: 0px;
}
thead, tfoot{
    background-color: lightblue;
    

}

td, th{
    border: 1px solid black;
    padding: 5px;

}

tbody > tr:nth-child(2n){
    background-color: lightgray;

}

.num{
    text-align: right;
}

#populacao{
    width: 80px;
}
#porcPop{
    width: 50px;
}