@charset "UTF-8";


body{
    background-color: rgb(138, 129, 118);
}
table{
    width: 600px;
    border-collapse: collapse;
    text-align: center;
    position: relative;
}

caption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid black;
    border-bottom: 0px;
}

thead, tfoot{
    background-color: lightblue;
}

thead {
    position: sticky;
    top: -1px;
}

td, th{
    border: 1px solid black;
    padding: 5px;


}
tr:hover {
    border: 2px solid rgb(23, 9, 226);
}

tbody > tr:nth-child(2n){
    background-color: lightgray;

}

.num{
    text-align: right;
}

#populacao{
    width: 80px;
}
#porcPop{
    width: 50px;
}