@charset "UTF-8";

body{
    background-color: lightgray;
}

.bloco{
    background-image: url(../imagens/wallpaper003.jpg);
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;

}

div.quadrado{
    display: inline-block;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 3px;
    background-color: lightgray;
    border-radius: 15px;
}

#i1{
    background-position: left top;
}

#i2{
    background-position: left center;
}

#i3{
    background-position: right bottom;
}

#i4{
    background-position: center center;
}




#q1{
    background-color: red;
}

#q2{
    background-image: url('../imagens/pattern001.png');
}

#q3{
    background-image: linear-gradient(to bottom, #39324B 20%, transparent);
}