@charset "UTF-8";

body{
    background-image: url(../imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* background: black url('../imagens/wallpaper002.jpg') center center/cover no-repeat fixed; --> Shorthand */
}

.bloco{
    background-image: url(../imagens/wallpaper003.jpg);
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;

}

main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    max-width: 700px;
    margin: auto;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 15px;
    text-indent: 30px;
    text-align: justify;
}

div.quadrado{
    display: inline-block;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 3px;
    background-color: lightgray;
    border-radius: 15px;
}

#i1{
    background-position: left top;
}

#i2{
    background-position: left center;
}

#i3{
    background-position: right bottom;
}

#i4{
    background-position: center center;
}




#q1{
    background-color: red;
}

#q2{
    background-image: url('../imagens/pattern001.png');
}

#q3{
    background-image: linear-gradient(to bottom, #39324B 20%, transparent);
}

#container{
    height: 500px;
    background-color: rgba(255, 182, 193, 0.905);
    padding: 20px;
    position: relative;
    background-image: url('../imagens/target001.png');
    background: url('../imagens/target001.png') center center/cover no-repeat;
    

}

#conteudo{
    height: 200px;
    width: 400px;
    background-color: lightyellow;
    position: absolute;
    left: 50%;
    top: 50%;
    
    /* Forma Atual: */
    transform: translate(-50%, -50%);

    /* Forma Antiga:
    margin-top: -100px;
    margin-left: -200px; */

}