@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

html{
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

header{
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
}

span#menuBurguer{
    background-color: black;
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    
}

header > nav{
    display: none;
    text-decoration: none;
    
}

menu > ul{
    list-style-type: none;
}

header a{
    display: block;
    text-decoration: none;
    background-color: rgb(52, 52, 52);
    color: white;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

nav > ul > li > a:hover {
    background-color: gray;
}

main{
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.221);
    border-radius: 10px;
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

main h2{
    padding-bottom: 10px;    
}

main p{
    text-align: justify;
    text-indent: 1.5em;
    margin-bottom: 15px;
    line-height: 1.1em;
}

