@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fontStandard: Verdana, Geneva, Tahoma, sans-serif;
    --fontTitulo: 'Passion One', cursive;
    --fontConteudo: 'Sriracha', cursive;
    --fontMinha: 'Lilita One', cursive;
}

html, body{
    background-color: lightyellow;
    min-height: 100vh;
    font-family: var(--fontStandard);
}

header{
    background-image:linear-gradient(to bottom, rgb(34, 31, 31) 95%, transparent);
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    margin: auto;

}

header > h1{
    font-variant: small-caps;
    font-family: var(--fontMinha);
    /* font-size: 4vw; */
    font-size: clamp(2em, 4vw, 5vw);
    
}

header > p, a{
    padding-top: 20px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

pre{
    padding-left: 10px;
    white-space: pre-line;
    font-family: var(--fontConteudo);
    font-size: clamp(1em, 1.6vw, 2.6vw);
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2.5em;
    padding-left: 30px;

}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-size: cover;
    background-position: right center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.467);
    background-attachment: fixed;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
}

section#img02{
    background-image: url(../imagens/background002.jpg);
}

section.imagem > pre{
    color: white;
    background-color: rgba(26, 24, 24, 0.616);
    width: 300px;
    text-shadow: 2px 1px 0px black;
    border-radius: 10px;
}

footer{
    background-color: rgb(168, 115, 115);
    padding: 3px;
    text-align: right;
    font-size: 0.85em;
    font-size: clamp(1vw, 0.85em, 2vw);

}